<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiltcode.tiltcode" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:persistent="true"
        android:allowBackup="true"
        android:name=".TiltCodeApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <provider android:authorities="com.facebook.app.FacebookContentProviderefedb24ded6b4ec0e4111b2ba441c7b2"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />


        <activity android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:label="TiltCode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="mainactivity">
        </activity>
        <activity android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="loginactivity">
        </activity>
        <activity android:name=".Activity.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="signupactivity">
        </activity>
        <activity android:name=".Activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:label="notificationActivity">
        </activity>
        <activity android:name=".Activity.SettingAccountActivity"
            android:screenOrientation="portrait"
            android:label="settingAccountActivity">
        </activity>
        <activity android:name=".Activity.ChangeNameActivity"
            android:screenOrientation="portrait"
            android:label=".changeNameActivity">
        </activity>
        <activity android:name=".Activity.ChangePasswdActivity"
            android:screenOrientation="portrait"
             android:label="changePasswdActivity">
        </activity>
        <activity android:name=".Activity.LockScreenActivity"
            android:screenOrientation="portrait"
            android:label="lockScreenActivity" android:theme="@android:style/Theme.Translucent">
        </activity>
        <activity android:name=".Activity.CouponReceiveActivity"
            android:screenOrientation="portrait"
            android:label="couponReceiveActivity">
        </activity>
        <activity android:name=".Activity.ServiceSettingActivity"
            android:screenOrientation="portrait"
            android:label="servicdsettingactivity">
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:screenOrientation="portrait"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <service android:name=".Service.TiltService" >
        </service>
        <receiver android:name=".Service.ServiceMonitor$MonitorBR" >
        </receiver>
        <receiver android:name=".Service.RestartService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>



    <uses-feature android:name="android.hardware.gyroscope" android:required="true"/>

</manifest>
